{% extends "base.html" %}
{% comment %}
Import file template for Omoma
Copyright 2011 Sebastien Maccagnoni-Munch

This file is part of Omoma.

Omoma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3.

Omoma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Omoma. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load omoma %}

{% block title %}{% trans "Import transactions" %}{% endblock %}

{% block content %}

    {% contentbox _('Import transactions') %}

        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            {% if supported_formats %}
                <p>{% trans "Supported formats:" %}</p>
                <ul>
                    {% for format in supported_formats %}
                        <li>{{ format }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="submit" value="{% trans "Import" %}" />
            {% if details %}
                <a href="{% if aid %}{% url cancel_import_transactions aid=aid %}{% else %}{% url cancel_import_transactions %}{% endif %}">{% trans "Cancel" %}</a>
            {% else %}
                <a href="{% if aid %}{% url transactions aid=aid %}{% else %}{% url transactions %}{% endif %}">{% trans "Cancel" %}</a>
            {% endif %}
        </form>

    {% endbox %}

{% endblock content %}
