{% comment %}
Notifications template for Omoma
Copyright 2011 Sebastien Maccagnoni-Munch

This file is part of Omoma.

Omoma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3.

Omoma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Omoma. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load omoma %}
{% getnotifications %}

<div id="notifications">
    {% if messages %}
        {% for message in messages %}
            <div{% if forloop.last and not notifications or forloop.first %} class="{% if forloop.first %}firstnotification{% endif %} {% if forloop.last and not notifications %}lastnotification{% endif %}"{% endif %}>{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if notifications %}
        {% for n in notifications %}
            <a href="{{ n.link }}"{% if forloop.last or firloop.first and not messages %} class="{% if forloop.first and not messages %}firstnotification{% endif %} {% if forloop.last %}lastnotification{% endif %}"{% endif %}>{{ n.text }}</a>
        {% endfor %}
    {% endif %}
</div>
