{% comment %}
Sidebar template for Omoma
Copyright 2011 Sebastien Maccagnoni-Munch, Alin Voinea

This file is part of Omoma.

Omoma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3.

Omoma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Omoma. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load omoma %}{% load i18n %}

{% contentbox %}
    <ul>
        <li><a href="{% url transactions %}" >{% trans "Home" %}</a></li>
        <li><a href="{% url ious %}">{% trans "IOUs" %}</a></li>
    </ul>
{% endbox %}

{% contentbox _("Accounts") %}
    <ul>
        {% getaccountslist %}
        {% for a in accountslist %}
            <li>
                <a href="{% url transactions aid=a.id %}">{{ a.name }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="{% url deleted_transactions %}">[{% trans "Deleted" %}]</a>
        </li>
    </ul>
{% endbox %}

{% contentbox _("Setup") %}
    <ul>
        <li>
            <a href="{% url accounts %}">{% trans "Accounts" %}</a>
            <a href="{% url categories %}">{% trans "Categories" %}</a>
            <a href="{% url cleaning %}">{% trans "Cleaning" %}</a>
        </li>
    </ul>
{% endbox %}

{% contentbox _("Admin") %}
    <ul>
        <li>
            <a href="{% url currencies %}">{% trans "Currencies" %}</a>
        </li>
        <li>
            <a href="{% url users %}">{% trans "Users" %}</a>
        </li>
    </ul>
{% endbox %}
