{% load i18n %}
{% spaceless %}
{% trans "Are you sure you want to delete this account ?" %}

<table>
    <tr>
        <th>{% trans "Name:" %}</th>
        <td>{{ account.name }}</td>
    </tr>
    {# TODO More details here (number of transactions, etc) #}
</table>

<form id="deleteaccountform" action="{% url deleteaccount account.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="confirmdelete" value="{{ account.id }}" />
    <input type="submit" value="{% trans "Yes, delete account" %}" />
    <button type="button" id="canceldeleteaccount">{% trans "Cancel" %}</button>
</form>

<script>$('button#canceldeleteaccount').click(function (event) { opendialog("accounts", gettext("Configure accounts")); event.preventDefault(); }); dialogform('deleteaccount', 'accountssaved');</script>
{% endspaceless %}
