{% extends "skeleton.html" %}
{% comment %}
Base template for Omoma
Copyright 2011 Sebastien Maccagnoni-Munch

This file is part of Omoma.

Omoma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3.

Omoma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Omoma. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load omoma %}

{% block body %}
    <div id="header">
        <div id="title"><a href="{% url transactions %}">Omoma</a> - {% block title %}Online money management{% endblock %}</div>
        <div id="user">{% username %}</div>
    </div>

    <div id="sidebar">
        <div id="sidebarcontent">{% include "sidebar.html" %}</div>
    </div>

    <div id="contentblock">
        {% include "notifications.html" %}
        {% block content %}
            <p>Page content !</p>
        {% endblock %}
    </div>

{% endblock %}
