{% extends "base.html" %}
{% comment %}
Single transactions template for Omoma
Copyright 2011 Sebastien Maccagnoni-Munch

This file is part of Omoma.

Omoma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3.

Omoma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Omoma. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load omoma %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    {% contentbox title %}
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            {% if new %}
                <input type="submit" value="{% trans "Create and back" %}" />
                <input type="submit" name="create_modify" value="{% trans "Create and modify" %}" />
                <a href="{% if iid %}{% url iou iid=iid %}{% else %}{% if aid %}{% url transactions aid=aid %}{% else %}{% url transactions %}{% endif %}{% endif %}">{% trans "Cancel" %}</a>
            {% else %}
                <input type="submit" value="{% trans "Modify" %}" />
                <a href="{% if aid %}{% url transactions aid=aid %}{% else %}{% url transactions %}{% endif %}">{% trans "Back" %}</a>
            {% endif %}
        </form>

    {% endbox %}

    {% if not new %}

        {% contentbox _('IOUs') %}

            <a href="{% if aid %}{% url new_iou aid=aid tid=form.instance.id %}{% else %}{% url new_iou tid=form.instance.id %}{% endif %}"><img src="/static/icon_add.png" class="icon" /> {% trans "Add an IOU" %}</a>

            {% getiouslinkedtorecipienttransaction form.instance %}

            {% if form.instance.iou_set.all or iouslinkedtorecipienttransaction %}
                <table>
                    <tr class="header">
                        <th class="links"></th>
                        <th class="recipient">{% trans "Recipient" %}</th>
                        <th class="amount">{% trans "Amount" %}</th>
                        <th class="ioutype">{% trans "Type of IOU" %}</th>
                        <th class="accepted">{% trans "Accepted" %}</th>
                    </tr>

                    {% for i in form.instance.iou_set.all %}
                        <tr>
                            <td class="links">
                                <a href="{% if aid %}{% url iou aid=aid tid=form.instance.id iid=i.id %}{% else %}{% url iou tid=form.instance.id iid=i.id %}{% endif %}">
                                    <img src="/static/icon_edit.png" class="icon" />
                                </a>
                                <a href="{% if aid %}{% url delete_iou aid=aid tid=form.instance.id iid=i.id %}{% else %}{% url delete_iou tid=form.instance.id iid=i.id %}{% endif %}">
                                    <img src="/static/icon_delete.png" class="icon" />
                                </a>
                            </td>
                            <td class="recipient">{{ i.recipient.username }}</td>
                            <td class="amount">{{ i.amount|money:i.transaction.account }}</td>
                            <td class="ioutype">{{ i.ownertype }}</td>
                            <td class="accepted">{{ i.get_accepted_display|capfirst }}</td>
                        </tr>
                    {% endfor %}

                    {% for i in iouslinkedtorecipienttransaction %}
                        <tr>
                            <td class="links">
                                <a href="{% if aid %}{% url detach_iou_from_transaction aid=aid tid=form.instance.id iid=i.id %}{% else %}{% url detach_iou_from_transaction tid=form.instance.id iid=i.id %}{% endif %}">
                                    <img src="/static/icon_delete.png" class="icon" />
                                </a>
                            </td>
                            <td class="recipient">{{ i.owner }}</td>
                            <td class="amount">{{ i.amount|money:i.transaction.account }}</td>
                            <td class="ioutype">{{ i.recipienttype }}</td>
                            <td class="accepted">{{ i.get_accepted_display|capfirst }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

        {% endbox %}

        {% getiousmatchingrecipienttransaction form.instance %}

        {% if iousmatchingrecipienttransaction %}
            {% contentbox _('Pending IOUs') %}
                <p>{% trans "The following pending IOUs could match this transaction:" %}</p>



                <table>
                    <tr class="header">
                        <th class="links"></th>
                        <th class="from">{% trans "From" %}</th>
                        <th class="date">{% trans "Date" %}</th>
                        <th class="ioutype">{% trans "Type" %}</th>
                    </tr>
                    {% for i in iousmatchingrecipienttransaction %}
                        <tr>
                            <td class="links">
                                <a href="{% if aid %}{% url attach_iou_to_transaction iou=i.id tid=form.instance.id aid=aid %}{% else %}{% url attach_iou_to_transaction iou=i.id tid=form.instance.id %}{% endif %}">
                                    <img src="/static/icon_attach.png" class="icon" />
                                </a>
                            </td>
                            <td class="from">{{ i.owner }}</td>
                            <td class="date">{{ i.transaction.date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td class="ioutype">{{ i.recipienttype }}</td>
                        </tr>
                    {% endfor %}
                </table>




            {% endbox %}
        {% endif %}

        {% contentbox _('Categories') %}

            <a href="{% if aid %}{% url new_transactioncategory tid=form.instance.id aid=aid %}{% else %}{% url new_transactioncategory tid=form.instance.id %}{% endif %}"><img src="/static/icon_add.png" class="icon" /> {% trans "Add a category" %}</a>

            {% if form.instance.transactioncategory_set.all %}
                <table>
                    <tr class="header">
                        <th class="links"></th>
                        <th class="category">{% trans "Category" %}</th>
                        <th class="amount">{% trans "Amount" %}</th>
                    </tr>

                    {% for c in form.instance.transactioncategory_set.all %}
                        <tr class="transactioncategory">
                            <td class="links">
                                <a href="{% if aid %}{% url transactioncategory tid=form.instance.id aid=aid cid=c.category.id %}{% else %}{% url transactioncategory tid=form.instance.id cid=c.category.id %}{% endif %}">
                                    <img src="/static/icon_edit.png" class="icon" />
                                </a>
                                <a href="{% if aid %}{% url delete_transactioncategory tid=form.instance.id aid=aid cid=c.category.id %}{% else %}{% url delete_transactioncategory tid=form.instance.id cid=c.category.id %}{% endif %}">
                                    <img src="/static/icon_delete.png" class="icon" />
                                </a>
                            </td>
                            <td class="category">{{ c.category.name }}</td>
                            <td class="amount">{% if not c.amount %}({% endif %}{{ c.resulting_amount|money:c.transaction.account }}{% if not c.amount %}){% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endbox %}
    {% endif %}
{% endblock content %}
