/*
 * Main CSS for Omoma
 * Copyright 2011 Sebastien Maccagnoni-Munch
 *
 * This file is part of Omoma.
 *
 * Omoma is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3.
 *
 * Omoma is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Omoma. If not, see <http://www.gnu.org/licenses/>.
 */


/***** Main containers *****/
div#contentblock {
margin-left: 150px;
padding: 10px 1em 1em 0;
}
div#contentblock div.box {
padding: 0; margin: 0 0 1em 0;
}
div#contentblock div.box h2.title {
background: #92a97b;
margin: 0; padding: 0 1em;
font-size: 120%;
color: #fff;
-moz-border-top-left-radius: 6px;
-moz-border-top-right-radius: 6px;
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}
div#contentblock div.box div.content {
margin: 0; padding: 1em;
border-top: 0;
border-left: 1px solid #92a97b;
border-right: 1px solid #92a97b;
border-bottom: 1px solid #92a97b;
background: #fff;
-moz-border-bottom-left-radius: 6px;
-moz-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}

/***** Home widgets *****/

table.container {
border-collapse: collapse;
border: 0; margin: 0; padding: 0;
width: 100%;
}
table.container tr.container {
border: 0; margin: 0; padding: 0;
}
table.container tr.container:hover {
background: transparent;
}
table.container td.left {
padding: 0 0.5em 0 0;
border: 0; margin: 0;
width: 50%;
}
table.container td.right {
padding: 0 0 0 0.5em;
border: 0; margin: 0;
}
table.container div.box {
height: 100%;
vertical-align: top;
}

/***** Links *****/
div#contentblock a {
text-decoration: none;
color: #444;
font-style: italic;
}
div#contentblock a:hover {
text-decoration: underline;
}

/***** Pagination *****/

p.pagination {
margin: 0;
padding: 0;
text-align: right;
}
span.pagenumber {
font-weight: bold;
margin: 0 0.5em;
}
