/*
 * Common CSS for Omoma
 * Copyright 2011 Sebastien Maccagnoni-Munch
 *
 * This file is part of Omoma.
 *
 * Omoma is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3.
 *
 * Omoma is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Omoma. If not, see <http://www.gnu.org/licenses/>.
 */

/*
 * common.css => OK
 * containers.css => OK
 * forms.css => MANQUE TOUT
 * notifications.css => OK
 * sidebar.css => OK
 * tables.css => OK
 */

body {
font-family: sans-serif; font-size: 13px;
background: #f2efe7; color: #000;
margin: 0; padding: 0;
}

/***** Images and icons *****/
img {
border: 0;
}
img.icon {
vertical-align: middle;
}
img.iouicon {
cursor: pointer;
}

/***** List *****/
dt { font-weight: bold; }
