/*
 * Dialog CSS for Omoma
 * Copyright 2011 Sebastien Maccagnoni-Munch
 *
 * This file is part of Omoma.
 *
 * Omoma is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3.
 *
 * Omoma is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Omoma. If not, see <http://www.gnu.org/licenses/>.
 */
 
/***** Dialogs (messages alone in a page ; errors etc) *****/
div.dialog {
font-size: 130%;
margin: 10% auto; width: 50%;
}
div.dialog h1 {
background: #a57787; color: #fff;
font-size: 130%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin:0; padding: 2px 1em;
}
div.dialog div.content {
margin:0; padding: 1em;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top: 0;
border-left: 3px solid #a57787;
border-right: 3px solid #a57787;
border-bottom: 3px solid #a57787;
background: #e8e1e3;
}
