/*
 * Header CSS for Omoma
 * Copyright 2011 Sebastien Maccagnoni-Munch
 *
 * This file is part of Omoma.
 *
 * Omoma is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3.
 *
 * Omoma is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Omoma. If not, see <http://www.gnu.org/licenses/>.
 */

/***** Header *****/
div#header {
width: 100%; height: 1.5em;
background: #bcae88;
font-size: 14px;
color: #fff;
}
div#header div#title {
float: left; margin: 2px 5px;
}
div#header div#user {
float: right; margin: 2px 5px;
}
div#header a {
text-decoration: none;
font-style: italic;
color: #f2efe7;
}
div#header div#title a {
font-weight: bold;
}
