{% extends "base.html" %}
{% comment %}
Single IOU template for Omoma
Copyright 2011 Sebastien Maccagnoni-Munch

This file is part of Omoma.

Omoma is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, version 3.

Omoma is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Omoma. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% load omoma %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% contentbox title %}
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="{% if new %}{% trans "Create" %}{% else %}{% trans "Modify" %}{% endif %}" />
            <a href="{% if rejected %}{% url pending_ious %}{% else %}{% if tid %}{% if aid %}{% url transaction aid=aid tid=tid %}{% else %}{% url transaction tid=tid %}{% endif %}{% else %}{% url ious %}{% endif %}{% endif %}">{% trans "Cancel" %}</a>
        </form>
    {% endbox %}

    {% if new %}

        {% getiousmatchingrecipienttransaction form.instance.transaction %}

        {% if iousmatchingrecipienttransaction %}
            {% contentbox _('Pending IOUs') %}
                <p>{% trans "The following pending IOUs could match this transaction:" %}</p>

                <table>
                    <tr class="header">
                        <th class="links"></th>
                        <th class="from">{% trans "From" %}</th>
                        <th class="date">{% trans "Date" %}</th>
                        <th class="ioutype">{% trans "Type" %}</th>
                    </tr>
                    {% for i in iousmatchingrecipienttransaction %}
                        <tr>
                            <td class="links">
                                <a href="{% url attach_iou_to_transaction iou=i.id tid=form.instance.transaction.id %}">
                                    <img src="/static/icon_attach.png" class="icon" />
                                </a>
                            </td>
                            <td class="from">{{ i.owner }}</td>
                            <td class="date">{{ i.transaction.date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td class="ioutype">{{ i.recipienttype }}</td>
                        </tr>
                    {% endfor %}
                </table>

            {% endbox %}
        {% endif %}

    {% endif %}
{% endblock content %}
